@import 'node_modules/bulma/bulma.sass';

.notification.is-danger {
  margin-top: 20px;
}

ul.breadcrumb{
  outline-style: none;
  box-shadow: 0 2px 3px rgba(10,10,10,.1), 0 0 0 1px rgba(10,10,10,.1);
  display: block;
  padding: 0.75rem;
  background: #fff;
}
ul.breadcrumb li{
  display: inline-block;
}
ul.breadcrumb li.is-active{
  color: #848484;
}
ul.breadcrumb>li+li:before {
  padding: 0 5px;
  color: #848484;
  content: "/\00a0";
}
ul.breadcrumb li a:hover{
  text-decoration: underline;
}

#nav-avatar {
  margin-right: 10px;
}

#nav-avatar img {
  border-radius: 64px;
  max-height: 100% !important;
}

#profile-name-input {
  max-width: 20%;
}

#add-new-avatar-wrapper {
  overflow: hidden;
  
  // position: relative;
  background: #eee;
  border-radius: 1px;
  // float: left;
  // flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgba(0, 0, 0, 0.2);
  // transition: 0.4s background;
}

#add-new-avatar-label {
  width: 100px;
  cursor: pointer;
  display: block;
  margin-left: 20px;
  margin-top: 10px;  
}

#add-new-avatar {
  display: none;
  // font-size: 999px;
  // min-height: 100%;
  opacity: 0;
  // position: absolute;
  // right: 0;
  text-align: right;
  // top: 0;
  cursor: pointer;
}

#submit-avatar {
  display: block;
  margin-top: 10px;
  margin-left: 20px;
}

.replies {
  padding: 1.25rem 1.25rem 1.25rem 3.25rem;
}

.thread{
  padding: 1.25rem;
  border-bottom: 1px solid #f1f0f0;
}

.reply-creator {
  margin-bottom: 0 !important;  
}
.reply-creator a {
  font-weight: bold;
}
.thread .body p {
  word-wrap: break-word;
  word-break: break-word;
}

li.is-active a {
  font-weight: bold;
  color: $primary;
}

/****** View Profile Page *******/
.container.view-profile {
  font-size: 14px;
}

// .profile-header {
//   min-height: 128px;
// }


.image.is-128x128 {
  // float: left;
  // margin-right: 20px;
}
.image.is-128x128 img{
  border-radius: 128px;
}

#profile-username p:first-child {
  margin-top: 20px;
}
#profile-username p {
  margin-left: 20px;
  font-weight: bold;
}

.pagination {
  margin-bottom: 10px;
}

.thread-title {
  margin-bottom: 0px !important;
}

.created-at {
  margin-left: 10px;
  color: dark-grey;
  font-weight: bold;
}

.thread-body,
.reply-body {
  margin-top: 10px;
}

.reply-body {
  margin-bottom: 0 !important;
}

.replies-count {
  font-weight: bold;
  margin-top: auto;
  margin-bottom: auto;
}

.thread-if-reply-counter {
  padding-right: 50px;
}

.pagination:last-of-type {
  margin-top: 20px;
}

.filter-icons {
  margin-right: 5px;
}


/****** Transitions *******/
.fade-enter-active, .fade-leave-active {
  transition: transform .5s ease;
}
.fade-enter, .fade-leave-to /* .fade-leave-active in <2.1.8 */ {
  transform: scale(0.01);
}


/*********Modal***********/
.modal-mask {
  position: fixed;
  z-index: 9998;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 1);
  display: table;
  transition: opacity .3s ease;
}

.modal-wrapper {
  display: table-cell;
  vertical-align: middle;
}

.modal-container {
  width: 300px;
  margin: 0px auto;
  padding: 20px 30px;
  background-color: #fff;
  border-radius: 2px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, .33);
  transition: all .3s ease;
  font-family: Helvetica, Arial, sans-serif;
}

.modal-header h3 {
  margin-top: 0;
  color: $primary;
}

.modal-body {
  margin: 20px 0;
}

.modal-default-button {
  float: right;
}

/*
 * The following styles are auto-applied to elements with
 * transition="modal" when their visibility is toggled
 * by Vue.js.
 *
 * You can easily play with the modal transition by editing
 * these styles.
 */

.modal-enter {
  opacity: 0;
}

.modal-leave-active {
  opacity: 0;
}

.modal-enter .modal-container,
.modal-leave-active .modal-container {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

@media (max-width: 768px) {

  /***** Home page ******/
  .container > .columns {
    margin-right: 0;
    margin-left: 0;
  }
  #mobile-nav {
    position: absolute;
    width: 100%;
  }
  #mobile-nav .nav-menu {
    display: block;
    box-shadow: none;
    top: 0;
  }

  #mobile-nav > div > ul li:first-of-type {
    height: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  #mobile-nav .field.has-addons {
    padding-left: 20px;
    padding-right: 20px;
  }

  #mobile-nav .field.has-addons .control:first-child {
    width: 100%;
  }

  .pagination-link {
    min-width: 0.9em;
  }

  .container > .columns {
    display: flex;
    width: 100%;
    flex-direction: column;
  }

  .container > .columns .menu.column {
    order: 2;
  }

  .container > .columns .column {
    order:0;
  }

  .thread {
    padding-left: 0;
    padding-right: 0;
  }

  .thread .thread-if-reply-counter {
    padding-right: 0;
  }

  .channel-link {
    display: block;
  }

  .created-at {
    margin-left: 0;
  }

  #new-thread-button {
    width: 100%;
  }

  /***** Profile page ******/
  #profile-name-input {
    max-width: initial;
  }
  
}
