@import 'node_modules/bulma/bulma.sass';

ul.breadcrumb{
  outline-style: none;
  box-shadow: 0 2px 3px rgba(10,10,10,.1), 0 0 0 1px rgba(10,10,10,.1);
  display: block;
  padding: 0.75rem;
  background: #fff;
}
ul.breadcrumb li{
  display: inline-block;
}
ul.breadcrumb li.is-active{
  color: #848484;
}
ul.breadcrumb>li+li:before {
  padding: 0 5px;
  color: #848484;
  content: "/\00a0";
}
ul.breadcrumb li a:hover{
  text-decoration: underline;
}


#profile-name-input {
  max-width: 20%;
}

#add-new-avatar-wrapper {
  overflow: hidden;
  // position: relative;
  background: #eee;
  border-radius: 1px;
  // float: left;
  // flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgba(0, 0, 0, 0.2);
  // transition: 0.4s background;
}

#add-new-avatar {
    cursor: inherit;
  display: block;
  // font-size: 999px;
  // min-height: 100%;
  opacity: 0;
  // position: absolute;
  // right: 0;
  text-align: right;
  // top: 0;
  cursor: pointer;
}

.thread {
  padding: 1.25rem;
  border-bottom: 1px solid #f1f0f0;
}

.thread .body p {
  word-wrap: break-word;
  word-break: break-word;
}

li.is-active a {
  font-weight: bold;
  color: $primary;
}
